@model List<Doctors>
<div class="row">


    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-content-center">
                    <h4 class="card-title">Həkimlər</h4>
                    <a asp-action="Create" class="btn btn-primary btn-md my-3 btn-rounded">Yarat</a>
                </div>
                <div class="table-responsive">

                    <table id="myTable" class="table table-bordered">
                        <thead>
                            <tr>

                                <th>
                                    Həkim
                                </th>
                                <th>
                                    Adı
                                </th>

                                @*<th>
                                        Şöbəsi
                                    </th>
                                    <th>
                                        Maaşı
                                    </th>

                                    <th>
                                        Ünvanı
                                    </th>
                                    <th>
                                        Əlaqə telefonu
                                    </th>*@
                                <th>
                                    Vəziyyəti
                                </th>
                                <th>
                                    Fəaliyyətlər
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Doctors doctors in Model)
                            {
                <tr>
                    <td>
                        <img style="object-fit : cover; width: 100px; height: 100px;" src="~/images/doctors/@doctors.Image" />
                    </td>
                    @*<td>
                            @doctors.Image
                        </td>*@

                    <td>
                        @doctors.FullName

                    </td>
                    @*<td>
                            @doctors.Branches.Name

                        </td>*@

                    @*<td>
                            @doctors.IsDeactive
                        </td>*@
                    @*<td>
                            @doctors.Salary
                        </td>
                        <td>
                            @doctors.Address
                        </td>
                        <td>

                            @doctors.Contact
                        </td>*@
                    <th>
                        @if (doctors.IsDeactive)
                        {<div class="text-danger">Deaktiv</div> }
                        else

                        {<div class="text-success">Aktiv </div>}
                    </th>



                    <td>
                        <a class="btn btn-warning btn-md btn-rounded" asp-action="Detail"
                           asp-route-id="@doctors.Id">Ətraflı</a>
                        <a class="btn btn-secondary btn-md  btn-rounded" asp-action="Update"
                           asp-route-id="@doctors.Id">Redaktə et</a>

                        @if (doctors.IsDeactive)
                        {

        <a class="btn btn-primary btn-md btn-rounded" asp-action="Activation"
           asp-route-id="@doctors.Id">Aktiv</a>}
    else
    {
<a class="btn btn-danger btn-md  btn-rounded" asp-action="Activation"
   asp-route-id="@doctors.Id">Deaktiv</a>}


                    </td>
                </tr>}





                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.colVis.min.js"></script>
    @*<script src=" https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.5.0/js/dataTables.select.min.js"></script>*@
    <script>
        $(function () {
            $("#myTable").dataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print', 'colvis'
                ]

            });
        })
        //$(document).ready(function () {
        //    $('#myTable').DataTable({
        //        dom: 'Bfrtip',
        //        buttons: [
        //            {
        //                extend: 'print',
        //                text: 'Print all',
        //                exportOptions: {
        //                    modifier: {
        //                        selected: null
        //                    }
        //                }
        //            },
        //            {
        //                extend: 'print',
        //                text: 'Print selected'
        //            }
        //        ],
        //        select: true
        //    });
        //});
    </script>

}
